#bookmarklet {
    background:#fff;
    border-bottom:8px solid #12c064;
    font-family:"Helvetica Neue", helvetica, arial, sans-serif !important;
    padding:10px; overflow:auto;
    box-shadow:0px 0px 8px 0 #666;
    position:fixed;
    width:400px;
    min-height:200px;
    top:10px;
    right:10px;
    z-index:1000000000000;
}

#bookmarklet h1{
    font-family:"Helvetica Neue", helvetica, arial, sans-serif;
    font-weight:normal;
    color:#333;
    font-size:18px;
    padding:4px 0 20px 0;
 }

#bookmarklet #close {
    float:right;
    font-size:18px;
    text-decoration:none;
    color:#666;
    margin-top:-6px;
}

#bookmarklet #close:hover {
    color:#000;
}

#bookmarklet .images {
    margin-bottom:20px;
    overflow:auto;
}

#bookmarklet .images img {
    border:1px solid #ccc;
    padding:2px;
    margin:2px;
    opacity:0.8;
    width:90px;
    float:left;
}

#bookmarklet .images img.selected,
#bookmarklet .images img:hover {
    border:1px solid #12c064;
    opacity:1;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.meal-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.meal-list .item img {
    width:100%;
    margin-bottom:8px;
}

.meal-detail {
    text-align:justify;
}

.meal-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.meal-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.meal-detail h1 {
    margin-bottom:0;
}

.meal-detail h2 {
    margin-top:10px;
}

.restaurant-detail {
    text-align: justify;
}

.text-right {
    text-align:right;
}

tbody td.num {
    text-align: right;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}