{% extends "base.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
  <h1>O nas</h1>
  <p>Witaj w aplikacji Don't waste food. Możesz <a href="{% url "edit" %}">edytować swój  profil</a> lub <a href="{% url "password_change" %}">zmienić swoje hasło</a>.</p>
    <p> Aplikacja pozwoli restauracjom na handel daniami pod koniec dnia roboczego, aby serwowana żywność nie została wyrzucona do kosza.</p>

{#{% with total_images_created=request.user.images_created.count %}#}
{#    <p>Oznaczyłeś {{ total_images_created }} obraz{{ total_images_created|pluralize }}.</p>#}
{#  {% endwith %}#}

{#  <p>Przeciągnij poniższy przycisk w celu oznaczenia obrazów z innych witryn → <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Oznacz</a><p>#}

{#  <p>Możesz także <a href="{% url "edit" %}">edytować swój profil</a> lub <a href="{% url "password_change" %}">zmienić hasło</a>.<p>#}

{#  <h2>Co się dzieje</h2>#}
  <div id="action-list">
    {% for action in actions %}
      {% include "actions/action/list.html" %}
    {% endfor %}
  </div>
{% endblock %}